<div class="center jumbotron">
  <h1> Testing the hover thing i type must something long </h1>

  <h2>
    welcome to ProjectLeabor8
  </h2>

  <%= link_to "Sign up now!", 'sign up', class: "btn btn-lg btn-primary" %>
</div>

